<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel">
      <h3 class="heading">{{paramData.name}} details</h3>
      <div class="col-lg-12">
        <input class="form-control-youtube" [(ngModel)]="param" placeholder="type {{paramData.name}} name" />
        <button style="margin:9px 0px -10px 19px" type="button" class="ui primary button" (click)="addNewParam()" [disabled]="!param">add new {{paramData.name}}</button>
      </div>
      <div class="row" style="margin-top: 30px">
        <div *ngFor="let param of allParamData; let i = index" class="card-wrapper col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px">
          <div class="card" style="cursor:pointer">
            <div class="card-image" style="height: auto">
              <span *ngIf="edit_id != param.id">
                {{ param.name }}
              </span>
              <span *ngIf="edit_id == param.id">
                <input class="form-control-youtube" [(ngModel)]="edit_name" placeholder="type param name" />
              </span>
            </div>
            <span *ngIf="edit_id != param.id">
              <button class="btn-close" (click)="removeParam(i)">X</button>
              <button class="btn-edit" (click)="editParam(i)">
                <i class="fa fa-edit"></i>
              </button>
            </span>
            <span *ngIf="edit_id == param.id">
              <button class="btn-close" (click)="closeEdit()">X</button>
              <button class="btn-edit" (click)="saveEdit(i)">
                <i class="fa fa-check"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
