.modal-dialog {
  margin-top: 60px !important;
}
.modal-content {
  .modal-footer {
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;

    .btn {
      justify-content: flex-end;
      padding: 5px 13px;
    }
  }

  .modal-body {
    position: relative;
    padding: 15px 30px;
  }

  .close {
    position: absolute;
    right: 5px;
    z-index: 9999;
  }
}

.content-end {
  justify-content: flex-end;
}

.action1 {
  padding: 7px 15px;
}
