<h3 class="heading">Parameters</h3>

<div class="row" style="margin-top: 30px">
  <div *ngFor="let param of allParameters; let i = index" class="card-wrapper col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px;">
    <div class="card" (click)="showParam(i)" style="cursor:pointer">
      <div class="card-image" style="height: auto">
        <span>
          {{ param.name }}
        </span>
      </div>
    </div>
  </div>
</div>
