<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="row">
      <div class="col-lg-12" style="padding:0 15%">
        <h4 class="heading">Edit Category</h4>
        <form *ngIf="category" role="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <fieldset class="form-group">
            <label>category name</label>
            <p [ngClass]="errors.name === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.name }}</p>
            <input class="form-control" formControlName="name" placeholder="enter category name">
          </fieldset>

          <fieldset class="form-group">
            <label>category image</label>
            <div class="col-lg-12 logo">
              <p [ngClass]="errors.image === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.image }}</p>
              <div class="col-lg-3">
                <img [src]="(imagePath) ? imagePath : category.image" class="img-thumbnail">
              </div>
              <div class="col-lg-9">
                <button type="button" (click)="clearImage()" class="ui negative button action" *ngIf="imagePath">
                  <i class="fa fa-times"></i>
                </button>
                <button type="button" class="ui button" (click)="fileInput.click()">Change Image</button>
                <input class="form-control" type="file" class="hidden" #fileInput (change)="changeListener($event)">
              </div>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <label>category type</label>
            <p [ngClass]="errors.type === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.type }}</p>
            <input disabled class="form-control" formControlName="type" placeholder="enter category type">
          </fieldset>

          <fieldset class="form-group">
            <label>category description</label>
            <p [ngClass]="errors.description === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.description }}</p>
            <input class="form-control" formControlName="description" placeholder="enter category description">
          </fieldset>

          <fieldset class="form-group">
            <label>category youtube link </label>
            <p [ngClass]="errors.youtube_link === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.youtube_link }}</p>
            <input class="form-control" formControlName="youtube_link" placeholder="enter category youtube link">
          </fieldset>

          <fieldset class="form-group">
            <label>success result link <span style="color: red">(please provide multiple links separated by a comma)</span> </label>
            <p [ngClass]="errors.youtube_link_list_success === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.youtube_link_list_success }}</p>
            <input class="form-control" formControlName="youtube_link_list_success" placeholder="enter links for success result">
          </fieldset>

          <fieldset class="form-group">
            <label>at risk result link<span style="color: red">(please provide multiple links separated by a comma)</span> </label>
            <p [ngClass]="errors.youtube_link_list_error === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.youtube_link_list_error }}</p>
            <input class="form-control" formControlName="youtube_link_list_error" placeholder="enter links for at risk result">
          </fieldset>

          <fieldset class="form-group">
            <label>category background color</label>
            <p [ngClass]="errors.bg_color === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.bg_color }}</p>
            <input class="form-control" formControlName="bg_color" placeholder="enter category background color">
          </fieldset>
          <button type="submit" class="ui primary button">save changes</button>
          <button type="button" (click)="close()" class="ui negative button">cancel</button>
        </form>

      </div>
    </div>
  </div>
</div>
