<app-alert [alerts]="alerts"></app-alert>
<h3 class="heading">Countries</h3>
<div class="col-lg-12">
  <input class="form-control-youtube" [(ngModel)]="country" placeholder="type country name" />
  <button style="margin:9px 0px -10px 19px" type="button" class="ui primary button" (click)="addNewCountry()" [disabled]="!country">add new country</button>
</div>
<div class="row" *ngIf="!isContentLoading" style="margin-top: 30px">
  <div *ngFor="let country of allCountry; let i = index" class="card-wrapper col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px">
    <div class="card">
      <div class="card-image" style="height: auto">
        <span *ngIf="edit_id != country.id">
          {{ country.name }}
        </span>
        <span *ngIf="edit_id == country.id">
          <input class="form-control-youtube" [(ngModel)]="edit_name" placeholder="type country name" />
        </span>
      </div>
      <span *ngIf="edit_id != country.id">
        <button class="btn-close" (click)="removeCountry(i)">X</button>
        <button class="btn-edit" (click)="editCountry(i)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn-plus" (click)="states(i)"> states </button>
      </span>
      <span *ngIf="edit_id == country.id">
        <button class="btn-close" (click)="closeEdit()">X</button>
        <button class="btn-edit" (click)="saveEdit(i)">
          <i class="fa fa-check"></i>
        </button>
      </span>
    </div>
  </div>
</div>
