.modal-dialog {
  height: calc(100vh - 100px) !important;
  margin-top: 46px !important;
  max-width: 100% !important;
}

.modal-content {
  .modal-footer {
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;

    .btn {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 5px 13px;
    }
  }

  .modal-body {
    position: relative;

    h4 {
      text-align: center;
      margin: 10px !important;
    }

    padding: 15px 30px;
  }

  .close {
    position: fixed;
    right: 5px;
    margin: 15px !important;
    z-index: 10008;
    font-size: 40px !important;
  }
}

.content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.action1 {
  padding: 7px 15px;
  margin-bottom: 5px !important;
}

.reel {
  max-height: calc(100vh - 100px) !important;
  overflow-y: auto !important;
}

.reel-view {
  min-height: 150px !important;
  max-height: calc(100vh - 100px) !important;
  overflow-y: auto !important;
}

.error {
  color: red
}

.select-version {
  margin: 20px !important;
}
