$topnav-background-color: #0e6363;

:host {
  display: block;
}

.welcome-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $topnav-background-color;
  text-align: center;
  color: #fff;
  padding: 10em;

  .rounded-btn {
    border-radius: 50px;
    color: rgba(255,255,255,0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(255,255,255,0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }

  .rounded-btn:active,
  .rounded-btn:focus,
  .rounded-btn:hover,
  .rounded-btn:visited {
    color: rgba(255,255,255,1);
    border: 2px solid rgba(255,255,255,1);
    outline: none;
  }

  h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
  }
}
