<app-alert [alerts]="alerts"></app-alert>
<h3 class="heading">Thrapy Material Stories</h3>
<button class="ui primary btn" (click)="addOrEditStory()" *ngIf="allStories">Add new story</button>
<div class="timeline-panel" *ngIf="allStories">
  <div class="col-lg-12">
    <div class="row" *ngIf="allStories && allStories[0]">
      <div class="column faq-div" *ngFor="let faq of allStories; let i = index">
        <div class="card" (click)="addOrEditStory(i)">
          <h3>{{ faq.title }}</h3>
        </div>
        <button class="btn-close" (click)="removeStory(i, $event)">X</button>
      </div>
    </div>
  </div>
</div>
