<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel">
      <h3 class="heading">Add Educational Video</h3>
      <div>
        <div class="row">
          <div class="col-lg-12" style="padding:0 15%">
            <form role="form" [formGroup]="form" (ngSubmit)="addNewVideo(form.value)">
              <fieldset class="form-group">
                <label>video title</label>
                <p [ngClass]="errors.videoTitle === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.videoTitle }}</p>
                <input class="form-control" formControlName="videoTitle" placeholder="enter video title">
              </fieldset>

              <fieldset class="form-group">
                <label>youtube embed link</label>
                <p [ngClass]="errors.videoTitle === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.video }}</p>
                <input class="form-control" formControlName="video" placeholder="enter video youtube link">
              </fieldset>

              <!-- <fieldset class="form-group">
                <label>video</label>
                <div class="col-lg-12 logo">
                  <p [ngClass]="errors.video === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.video }}</p>
                  <div class="col-lg-3">
                    <video *ngIf="videoData" [src]="videoData" class="img-thumbnail" controls="controls">
                      <source [src]="videoData" type="video/mp4">
                    </video>
                  </div>
                  <div class="col-lg-9">
                    <button type="button" (click)="clearImage()" class="ui negative button action" *ngIf="videoData">
                      <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="ui button" (click)="fileInput.click()">{{ (videoData) ? 'Change video' : 'Select Video' }}</button>
                    <input class="form-control" type="file" class="hidden" #fileInput (change)="changeListener($event)">
                  </div>
                </div>
              </fieldset> -->

              <fieldset class="form-group">
                <label>language</label>
                <p [ngClass]="errors.language === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.language }}</p>
                <select class="ui primary button" formControlName="language">
                  <option *ngFor="let language of allLanguages" value="{{ language }}">{{ language }}</option>
                </select>
              </fieldset>

              <fieldset class="form-group">
                <label>category</label>
                <input type="text" list="categories" formControlName="category"/>
                <p [ngClass]="errors.language === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.category }}</p>
                <datalist id="categories">
                  <option *ngFor="let category of allCategories" value="{{ category }}">{{ category }}</option>
                </datalist>
              </fieldset>

              <button type="submit" class="ui primary button">save changes</button>
              <button type="button" (click)="close()" class="ui negative button">cancel</button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
