.modal-dialog {
  height: calc(100vh - 100px) !important;
  margin-top: 46px !important;
  max-width: 100% !important;
}
.alert-msg-error{
  color: red;
}
.modal-content {
  .modal-footer {
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;

    .btn {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 5px 13px;
    }
  }

  .modal-body {
    position: relative;

    h4 {
      text-align: center;
      margin: 10px !important;
    }

    padding: 15px 30px;
  }

  .close {
    position: fixed;
    right: 5px;
    margin: 15px !important;
    z-index: 10008;
    font-size: 40px !important;
  }
}

.content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin: 10px 0;
  cursor: pointer;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.close {
  font-size: 20px;
  font-weight: 600;
}

a {
  text-decoration: none;
  // color: black;
}

.error {
  color: red;
}

.tag {
  border-radius: 50%;
  width: auto;
  height: 35px;
  color: white;
  display: inline-flex;
  font-size: 20px;
  margin: 0 10px;
  padding: 2px 20px;
  text-align: center;
}

.tag-latest {
  background-color: #0275d8;
}

.tag-review {
  background-color: #5cb85c;
}

.tag-stopped {
  background-color: #eb9316;
}

.timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
}

.timeline > li {
  position: relative;
  margin-bottom: 20px;
}

.timeline > li:after,
.timeline > li:before {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:after,
.timeline > li:before {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 100%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 94%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body {
  i {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
  }
  padding-top: 20px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
@media(max-width:767px) {
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }
}

.error {
  color: red
}

.select-version {
  margin: 20px !important;
}
