.main-container {
  // margin-top: 60px;
  // padding: 0 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}

.page-header {
  width: 100%;
  position: fixed;
  z-index: 1399;
}

.main-content {
  padding: 15px;
  margin-top: 65px;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0 !important;
  }
}
