<!--
 ======================= App Header Component ==================
Common for all pages
-->
<!-- <app-header></app-header> -->
<!--
Main container, which will contain all child components
-->
<section class="main-container">
  <!--
  ==================== App Page Header ========================
  -->
  <app-header class="page-header"></app-header>

  <!--
  Show App Loader if any child component is loading
  -->
  <app-loader *ngIf="isContentLoading"></app-loader>
  <!--
  Router outlet to redirect request to child component
  (activate) will detect notification event from child component
  Every child component, when completes loading, emits the data to be
  sent to pageHeader component, which, router outlet receives, and
  sends it to layout.component using onNotify() function
  -->
  <div class="main-content">
    <router-outlet *ngIf="!isContentLoading" (activate)='onNotify($event)'></router-outlet>
  </div>
</section>
