<div class="col-lg-12" style="display:inline-flex">
  <div class="col-lg-4">
    <textarea rows="4" style="width:100%" [(ngModel)]="question" class="form-control-youtube" placeholder="write question"></textarea>
  </div>
  <div class="col-lg-8">
    <select class="ui primary button" [(ngModel)]="screening_type">
      <option *ngFor="let screening_type of allHearingScreeningTypes" value="{{ screening_type.id }}">{{ screening_type.name }}</option>
    </select>
    <button style="margin:9px 0px -10px 19px" type="button"
    class="ui primary button" (click)="addHearingQuestion()"
    [disabled]="!question || !screening_type">add new question</button>
  </div>
</div>
<div class="row" style="margin:20px 0 0 20px">
  <div *ngFor="let screening_type of allHearingScreeningTypes; let i = index" (click)="selectScreeningType(i)"
    [ngClass]="(i === selectedScreeningType) ? 'panel panel-even' : 'panel panel-odd'" [style.width]="domainPanelWidth">
    {{ screening_type.name }}
  </div>
  <div class="col-lg-12" *ngIf="allHearingScreeningTypes && allHearingScreeningTypes[selectedScreeningType]">
    <table class="table">
      <thead>
        <tr>
          <th style="width:50%">Question</th>
          <th *ngIf="edit">user type</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let question of allHearingScreeningTypes[selectedScreeningType].hearing_screenings; let i = index">
          <tr [style.background]="background[question.id] || 'white'">
            <td>
              <span *ngIf="question_edit_id != question.id" style="white-space: pre;">{{ question.question }}</span>
              <span *ngIf="question_edit_id == question.id">
                <textarea class="form-control" type="text" [(ngModel)]="question_edit" placeholder="question"></textarea>
              </span>
            </td>
            <td *ngIf="question_edit_id == question.id">
              <select class="ui primary button" [(ngModel)]="screening_type_edit">
                <option *ngFor="let screening_type of allHearingScreeningTypes" value="{{ screening_type.id }}">{{ screening_type.name }}</option>
              </select>
            </td>
            <td>
              <span *ngIf="question_edit_id != question.id">
                <button type="button" (click)="deleteQuestion(question.id, i, selectedScreeningType)" class="ui negative button action">
                  <i class="fa fa-times"></i>
                </button>
                <button *ngIf="question_edit_id != question.id" type="button" (click)="editQuestion(i, selectedScreeningType)" class="ui secondary button action">
                  <i class="fa fa-edit"></i>
                </button>
              </span>
              <span *ngIf="question_edit_id == question.id">
                <button type="button" (click)="closeEditQuestion()" class="ui primary button action">
                  <i class="fa fa-times"></i>
                </button>
                <button type="button" (click)="saveEditQuestion(i, selectedScreeningType)" class="ui primary button action">
                  <i class="fa fa-check"></i>
                </button>
              </span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
