<div class="modal-dialog">
  <div class="modal-content">
    <button type="button" class="close" (click)="close()">&times;</button>
    <div class="modal-body">
      <p>{{message || 'Are you sure?'}}</p>
    </div>
    <div class="modal-footer content-end">
      <button type="button" class="ui primary button action1" (click)="confirm()">Yes</button>
      <button type="button" class="ui negative button action1" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
