<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel">
      <h3 class="heading">{{ (isEdit) ? 'Edit' : 'Add'}} Story</h3>
      <div>
        <div class="row">
          <div class="col-lg-12" style="padding:0 15%">
            <form role="form" [formGroup]="form" (ngSubmit)="addOrEditStory(form.value)">
              <fieldset class="form-group">
                <label>title</label>
                <input class="form-control" formControlName="title" placeholder="enter story title">
                <p [ngClass]="errors.title === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.title }}</p>
              </fieldset>

              <fieldset class="form-group">
                <label>content</label>
                <div class="col-lg-12 logo">
                  <textarea placeholder="enter story content" style="width:100%" class="form-control" formControlName="content" rows="20" cols="80"></textarea>
                  <p [ngClass]="errors.content === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.content }}</p>
                </div>
              </fieldset>
            
              <fieldset class="form-group">
                <label>Picture</label>
                <div class="col-lg-12 logo">
                  <div class="col-lg-3" *ngIf="imagePath || (storyContent && storyContent.picture)">
                    <img [src]="(imagePath) ? imagePath : storyContent.picture" class="img-thumbnail">
                  </div>
                  <div class="col-lg-9">
                    <button type="button" (click)="clearImage()" class="ui negative button action" *ngIf="imagePath">
                      <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="ui button" (click)="fileInput1.click()">Add/Change image</button>
                    <input class="form-control" type="file" class="hidden" #fileInput1 (change)="changeListener($event)">
                    <p [ngClass]="errors.picture === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.picture }}</p>
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                  <label>Audio</label>
                  <div class="col-lg-12 logo">
                    <div class="col-lg-3" *ngIf="audioData || (storyContent && storyContent.audio)">
                      <audio controls [src]="(audioData) ? audioData : storyContent.audio"></audio>
                    </div>
                    <div class="col-lg-9">
                      <button type="button" (click)="clearAudio()" class="ui negative button action" *ngIf="audioData">
                        <i class="fa fa-times"></i>
                      </button>
                      <button type="button" class="ui button" (click)="fileInput2.click()">Add/Change audio</button>
                      <input class="form-control" type="file" class="hidden" #fileInput2 (change)="changeAudioListener($event)">
                      <p [ngClass]="errors.audio === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.audio }}</p>
                    </div>
                  </div>
                </fieldset>

              <fieldset class="form-group">
                <label>Target Sound</label>
                <select class="ui primary button" formControlName="targetSoundId">
                    <option *ngFor="let sound of allTargetSounds" value="{{ sound.id }}">{{ sound.name }}</option>
                  </select>
                <p [ngClass]="errors.targetSoundId === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.targetSoundId }}</p>
              </fieldset>

              <button type="submit" class="ui primary button">save changes</button>
              <button type="button" (click)="close()" class="ui negative button">cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
