<app-alert [alerts]="alerts"></app-alert>
<h3 class="heading">Feedbacks By Users</h3>
<div class="timeline-panel" *ngIf="allFeedback">
  <div class="col-lg-12">
    <div class="row" *ngIf="allFeedback && allFeedback[0]">
      <div class="column" *ngFor="let feedback of allFeedback; let i = index">
        <div class="card">
          <h3>feedback by - {{ feedback.user }}</h3>
          <p>feedback - {{ feedback.title }}</p>
          <p>visible to - {{ (feedback.isVisibleToAdminOnly) ? 'admin' : 'all' }}</p>
          <button style="width: 95%" (click)="changeVisibility(i)" class="ui btn secondary">
            Change visibility to {{ (feedback.isVisibleToAdminOnly) ? 'all' : 'admin' }}
          </button>
          <button class="btn-overlay" (click)="removeFeedback(i)">X</button>
        </div>
      </div>
    </div>
  </div>
</div>
