
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin: 10px 0;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.btn-overlay {
  position: absolute;
  top: 84%;
  left: 96%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
