<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel" *ngIf="category">
      <div class="row">
        <div class="col-lg-3">
          <img src="{{category.image}}" class="img-thumbnail">
        </div>
        <div class="col-lg-9">
          <div class="timeline-body">
            <p>Name : {{ category.name }}</p>
            <p>Type : {{ categoryTypes[category.type] }}</p>
            <span *ngIf="category.type == 2 && category.id != 3">
              <p>
                user is at risk if answer is :
                <select class="ui primary button" (change)="changeDecidingValue()" [(ngModel)]="category.decidingValue">
                  <option value="true">yes</option>
                  <option value="false">no</option>
                </select>
              </p>
            </span>
            <span *ngIf="category.id == 3">
              <p>
                user is at risk if answer is (for child):
                <select class="ui primary button" (change)="changeDecidingValue(1)" [(ngModel)]="category.decidingValue">
                  <option value="true">yes</option>
                  <option value="false">no</option>
                </select>
              </p>
              <p>
                user is at risk if answer is (for adult):
                <select class="ui primary button" (change)="changeDecidingValue(2)" [(ngModel)]="category.decidingValue2">
                  <option value="true">yes</option>
                  <option value="false">no</option>
                </select>
              </p>
            </span>
            <p>Description : {{ category.description }}</p>
            <p>Background color : {{ category.bg_color }}</p>
            <div class="row col-lg-12 edit-btn">
              <button class="ui secondary button action" (click)="editCategory()">
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin:20px 0 0 20px" *ngIf="category.id === categoryIds.ARTICULATION && allPictures">
        <div *ngFor="let picture of allPictures; let i = index" class="card-wrapper col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <div class="card" style="width:300px" [style.height]="(boxHeight[picture.id]) ? boxHeight[picture.id] : '400px'">
            <div class="card-image" style="width:266px;height:180px">
              <img class="card-image-img" src="{{(imagePathEdit[picture.id]) ? imagePathEdit[picture.id] : picture.picture_url}}"/>
            </div>
            <ng-container>
              <div class="card-title">
                <span *ngIf="editPictureId != picture.id" class="name">{{ picture.correct_word }} / {{ picture.target_sound }}</span>
                <span *ngIf="editPictureId == picture.id">
                  <input type="text" [(ngModel)]="correct_word_edit" placeholder="correct word">
                  <input style="margin-left:5px;margin-right:5px" type="text" [(ngModel)]="target_sound_edit" placeholder="target sound word">
                </span>
              </div>
              <audio controls *ngIf="!audioPathEdit[picture.id]">
                <source src="{{ picture.audio_url }}">
              </audio>
              <span style="display:inline-flex" *ngIf="audioPathEdit[picture.id]">
                <audio controls>
                  <source src="{{ audioPathEdit[picture.id] }}">
                </audio>
                <button style="height:32px;width:32px;margin:3% 0;padding:0 !important" type="button" (click)="clearAudio(true)" class="ui negative button action">
                  <i class="fa fa-times"></i>
                </button>
              </span>
              <button *ngIf="editPictureId != picture.id" class="btn-overlay" (click)="removeArticulationItem(i)">X</button>
              <button *ngIf="editPictureId != picture.id" class="btn-edit" (click)="editPicture(i)"><i class="fa fa-edit"></i></button>
              <span *ngIf="editPictureId == picture.id">
                <button class="btn-edit" (click)="closeEditPicture(i)">X</button>
                <button class="btn-save" (click)="saveEditPicture(i)"><i class="fa fa-check"></i></button>
              </span>
              <button *ngIf="imagePathEdit[picture.id]" class="btn-edit-edit ui btn negative" (click)="clearImage(true)">
                <i class="fa fa-times"></i>
              </button>
              <span *ngIf="editPictureId == picture.id" style="display:inline-flex">
                <input class="form-control" type="file" class="hidden" #fileInputEdit (change)="changeImageListener($event, true, picture.id)">
                <button type="button" class="ui button" (click)="fileInputEdit.click()">change image</button>
                <button type="button" class="ui button" (click)="fileInputAudioEdit.click()">change audio</button>
                <input class="form-control" type="file" class="hidden" #fileInputAudioEdit (change)="changeAudioListener($event, true, picture.id)">
              </span>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin:20px 0 0 20px">
          <div class="col-lg-12 logo" style="display:inline">
            <input type="text" [(ngModel)]="correct_word" placeholder="correct word">
            <input style="margin-left:5px;margin-right:5px" type="text" [(ngModel)]="target_sound" placeholder="target sound word">
            <img style="max-width:300px" *ngIf="imagePath" src="{{ imagePath }}" class="img-thumbnail">
            <button *ngIf="imagePath" type="button" (click)="clearImage()" class="ui negative button action">
              <i class="fa fa-times"></i>
            </button>
            <button type="button" class="ui button" (click)="fileInput.click()">{{ imagePath ? 'change' : 'select'}} image</button>
            <input class="form-control" type="file" class="hidden" #fileInput (change)="changeImageListener($event)">

            <audio controls *ngIf="audioPath" style="width:300px">
              <source src="{{ audioPath }}">
            </audio>
            <button *ngIf="audioPath" type="button" (click)="clearAudio()" class="ui negative button action">
              <i class="fa fa-times"></i>
            </button>
            <button type="button" class="ui button" (click)="fileInputAudio.click()">{{ audioPath ? 'change' : 'select'}} audio</button>
            <input class="form-control" type="file" class="hidden" #fileInputAudio (change)="changeAudioListener($event)">

          </div>
          <button type="button" class="ui primary button" (click)="addArticulationPictures()">add new word</button>
        </div>
      </div>

      <div *ngIf="category.id === categoryIds.SPEECH_AND_LANGUAGE">
        <app-speech-language [allSpeechLanDomains]="allSpeechLanDomains"></app-speech-language>
      </div>

      <div *ngIf="category.id === categoryIds.HEARING">
        <app-hearing [allHearingScreeningTypes]="allHearingScreeningTypes"></app-hearing>
      </div>

      <div *ngIf="category.id === categoryIds.FLUENCY || category.id === categoryIds.VOICE || category.id === categoryIds.BEHAVIORS">
        <app-common-screening [allCommonQuestions]="allCommonQuestions" [categoryId]="category.id"></app-common-screening>
      </div>

    </div>
  </div>
</div>
