<app-alert [alerts]="alerts"></app-alert>
<h3 class="heading">{{ param }}</h3>
<button class="ui primary btn" (click)="addOrEditFaq()" *ngIf="allFaqs">Add new {{ param }}</button>
<div class="timeline-panel" *ngIf="allFaqs">
  <div class="col-lg-12">
    <div class="row" *ngIf="allFaqs && allFaqs[0]">
      <div class="column faq-div" *ngFor="let faq of allFaqs; let i = index">
        <div class="card" (click)="addOrEditFaq(i)">
          <h3>{{ faq.title }}</h3>
          <p>{{ faq.description.substr(0, 40) }}...</p>
        </div>
        <button class="btn-close" (click)="removeFaq(i, $event)">X</button>
      </div>
    </div>
  </div>
</div>
