<app-alert [alerts]="alerts"></app-alert>
<h3 class="heading">Educational Videos</h3>
<button class="ui primary btn" (click)="addNewVideo()">Add new educational video</button>
<div class="row" *ngIf="!isContentLoading" style="margin-top: 30px">
  <div *ngFor="let video of allVideos; let i = index" class="card-wrapper col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px">
    <div class="card" style="cursor:pointer" (click)="editVideo(i)">
      <div class="card-image" style="height: auto">
        <!-- <video style="width:100%;height:auto" controls="controls">
          <source src="{{ video.video }}" type="video/mp4">
        </video> -->
        <span>
          {{video.video.toString().substr(0, 25)}}...
        </span>
        <!-- <iframe style="width:100%;height:100%"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
        </iframe> -->
      </div>
      <ng-container>
        <div class="card-title">
          <span class="name">{{ video.title }}</span><br>
          <span class="version">{{ video.language }}</span><br>
          <span class="version">category - {{ video.category }}</span>
        </div>
        <button class="btn-overlay" (click)="removeVideo(i)">X</button>
      </ng-container>
    </div>
  </div>
</div>
