<div class="col-lg-12" style="display:inline-flex">
  <div class="col-lg-4">
    <textarea rows="4" style="width:100%" [(ngModel)]="question" class="form-control-youtube" placeholder="write question"></textarea>
  </div>
  <div class="col-lg-8">
    <select class="ui primary button" [(ngModel)]="age">
      <option *ngFor="let range of ageRanges" value="{{ range.age_start }}-{{ range.age_end }}">
        age {{ range.age_start }}-{{ range.age_end }} month
      </option>
    </select>
    <select class="ui primary button" [(ngModel)]="domain_id">
      <option *ngFor="let domain of allSpeechLanDomains" value="{{ domain.id }}">{{ domain.name }}</option>
    </select>
    <button style="margin:9px 0px -10px 19px" type="button"
    class="ui primary button" (click)="addSpeechLanQuestion()"
    [disabled]="!question || !domain_id">add new question</button>
  </div>
</div>
<div class="row" style="margin:20px 0 0 20px">
  <div *ngFor="let domain of allSpeechLanDomains; let i = index" (click)="selectDomain(i)"
    [ngClass]="(i === selectedDomainId) ? 'panel panel-even' : 'panel panel-odd'" [style.width]="domainPanelWidth">
    {{ domain.name }}
  </div>
  <div class="col-lg-12" *ngIf="allSpeechLanDomains && allSpeechLanDomains[selectedDomainId]">
    <h3 style="text-align:center;margin:20px 0;font-size:20px">{{ allSpeechLanDomains[selectedDomainId].name }}</h3>
    <table class="table">
      <thead>
        <tr>
          <th style="width:50%">Question</th>
          <th *ngIf="!edit">start-age</th>
          <th *ngIf="!edit">end-age</th>
          <th *ngIf="edit">change language</th>
          <th *ngIf="edit">age range</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let question of allSpeechLanDomains[selectedDomainId].speech_language_screenings; let i = index">
          {{background[question.id]}}
          <tr [style.background]="background[question.id] || 'white'">
            <td>
              <span *ngIf="question_edit_id != question.id" style="white-space: pre;">{{ question.question }}</span>
              <span *ngIf="question_edit_id == question.id">
                <textarea class="form-control" type="text" [(ngModel)]="question_edit" placeholder="question"></textarea>
              </span>
            </td>
            <td *ngIf="question_edit_id != question.id">{{ question.age_start }}</td>
            <td *ngIf="question_edit_id != question.id">{{ question.age_end }}</td>
            <td *ngIf="question_edit_id == question.id">
              <select class="ui primary button" [(ngModel)]="domain_edit">
                <option *ngFor="let domain of allSpeechLanDomains" value="{{ domain.id }}">{{ domain.name }}</option>
              </select>
            </td>
            <td *ngIf="question_edit_id == question.id">
              <select class="ui primary button" [(ngModel)]="age_edit">
                <option *ngFor="let range of ageRanges" value="{{ range.age_start }}-{{ range.age_end }}">age {{ range.age_start }}-{{ range.age_end }} month</option>
              </select>
            </td>
            <td>
              <button *ngIf="question_edit_id != question.id" type="button" (click)="deleteQuestion(question.id, i, selectedDomainId)" class="ui negative button action">
                <i class="fa fa-times"></i>
              </button>
              <button type="button" *ngIf="question_edit_id != question.id" (click)="editQuestion(i, selectedDomainId)" class="ui secondary button action">
                <i class="fa fa-edit"></i>
              </button>
              <span *ngIf="question_edit_id == question.id">
                <button type="button" (click)="closeEditQuestion()" class="ui primary button action">
                  <i class="fa fa-times"></i>
                </button>
                <button type="button" (click)="saveEditQuestion(i, selectedDomainId)" class="ui primary button action">
                  <i class="fa fa-check"></i>
                </button>
              </span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
