.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert,
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

// .alert-success {
//   color: #3c763d;
//   background-color: #dff0d8;
//   border-color: #d6e9c6;
// }
//
// .alert {
//   position: fixed;
//   top: 84px;
//   right: 17px;
//   width: auto;
//   max-width: 50%;
//   height: auto;
//   z-index: 9999999;
//   border-radius: 13px;
// }
//
// .alert,
// .alert-info {
//   color: #ffffff;
//   background-color: #518c89;
// }
//
// .alert-warning {
//   color: #ffffff;
//   background-color: #dc8a24;
// }
//
// .alert-danger {
//   color: #ffffff;
//   background-color: #bb4545;
// }
