<div role="alert" *ngFor="let alert of alerts" class="alert alert-{{ alert.type }} alert-dismissible">
  <button class="close" (click)="closeAlert(alert)" type="button">
    <span>×</span>
  </button> {{ alert.message }}
</div>
