.alert-msg-error {
  color: red;
}

.modal-dialog {
  height: calc(100vh - 100px) !important;
  margin-top: 46px !important;
  max-width: 100% !important;
}

.modal-content {
  .modal-footer {
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;

    .btn {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 5px 13px;
    }
  }

  .modal-body {
    position: relative;

    h4 {
      text-align: center;
      margin: 10px !important;
    }
    padding: 15px 30px;
  }

  .close {
    position: fixed;
    right: 5px;
    margin: 15px !important;
    z-index: 10008;
    font-size: 40px !important;
  }
}

.content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin: 10px 0;
  cursor: pointer;
}
.row {
  margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.close {
  font-size: 20px;
  font-weight: 600;
}

a {
  text-decoration: none;
  // color: black;
}

.error {
  color: red;
}

.tag {
  border-radius: 50%;
  width: auto;
  height: 35px;
  color: white;
  display: inline-flex;
  font-size: 20px;
  margin: 0 10px;
  padding: 2px 20px;
  text-align: center;
}

.tag-latest {
  background-color: #0275d8;
}

.tag-review {
  background-color: #5cb85c;
}

.tag-stopped {
  background-color: #eb9316;
}

.timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
}

.timeline > li {
  position: relative;
  margin-bottom: 20px;
}

.timeline > li:after,
.timeline > li:before {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:after,
.timeline > li:before {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 100%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 94%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body {
  i {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
  }
  padding-top: 20px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
@media(max-width:767px) {
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }
}

.error {
  color: red;
}

.select-version {
  margin: 20px !important;
}

.modal {
  background-color: white !important;
  overflow: scroll;
}

.card-image-img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

audio {
  width: 100%;
}

.card-list-wrapper {
  margin: 25px 0 40px;
  min-height: calc(100vh - 100px);

  .card-wrapper {
    position: relative;
    margin-bottom: 20px;
    float: left;

    .card {
      padding: 0;
      height: 181px;
      border: 2px solid #dcdcdc;
      border: none;
      box-shadow: 2px 2px 8px #757575;
      border-radius: 0;

      .card-image {
        cursor: pointer;
        height: 138px;
        text-align: center;

        img {
          height: 100% !important;
          width: 100% !important;
          object-fit: cover;
        }
      }

      .card-title {
        text-align: center;
        padding: 5px 0;
        margin-bottom: 0;
        color: #000000;
        height: 48px;
        border-top: 2px solid #dcdcdc;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        .name {
          display: block;
          font-size: 14px;
          line-height: 16px;
          // font-weight: 600;
        }

        .version {
          display: block;
          font-size: 12px;
          line-height: 15px;
        }
      }

      .caption-action-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 2px;
        height: 41px;
        display: none;
        transition: 0.5s ease;
        border-top: 2px solid #dcdcdc;

        .caption-action {
          background-color: #f9f9f9;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: inherit;

          span {
            cursor: pointer;
            margin: 0 10px;
            padding: 0 5px;

            i {
              font-size: 20px;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }

      &:hover {
        .caption-action-wrapper {
          display: block;
        }
      }
    }
  }
}

.game-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
@mixin justifyContent($value) {
  @if $value == center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  } @else
  if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  } @else
  if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  } @else
  if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@mixin alignItems($value) {
  @if $value == center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  } @else
  if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  } @else
  if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 6px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-flex-end {
  @include justifyContent(flex-end);
}

.font-20 {
  font-size: 20px !important;
}

.min-width-10 {
  min-width: 10% !important;
}

.canvasjs-chart-credit {
  display: none !important;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.bg-color-inherit {
  background-color: inherit !important;
}

.hidden {
  display: none;
}

.button-disabled {
  opacity: 0.65;
  cursor: not-allowed !important;
}

.loaderSubmit {
  width: 37px !important;
  height: 37px !important;
  margin-right: 5px !important;
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed !important;
}

.loadingImage1 {
  width: 50px;
  height: 50px;
}

.loadingImage {
  width: 50px;
  height: 50px;
  margin: 50px 10px 0 0;
}

.heading {
  text-align: center;
  display: block;
  font-weight: bold;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
  vertical-align: middle !important;
}

.ui {
  &.button {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    will-change: '';
    -webkit-box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 0 rgba(34, 36, 38, .15);
    box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 0 rgba(34, 36, 38, .15);
    -webkit-box-shadow: inset 0 0 0 0 rgba(34, 36, 38, .15);
    box-shadow: inset 0 0 0 0 rgba(34, 36, 38, .15);
  }

  &.primary {
    background-color: #023e6b !important;
    color: #fff;
    text-shadow: none;
    background-image: none;
  }

  &.warning {
    background-color: #ec971f;
    color: #fff;
    text-shadow: none;
    background-image: none;
  }

  &.secondary {
    background-color: #023e6b;
    color: #fff;
    text-shadow: none;
    background-image: none;
  }

  &.negative {
    background-color: #db2828 !important;
    color: #fff;
    text-shadow: none;
    background-image: none;
  }

  &.success {
    background-color: #5cb85c !important;
    color: #fff;
    text-shadow: none;
    background-image: none;
  }

  &.info {
    background-color: #5bc0de !important;
    color: #fff;
    text-shadow: none;
    background-image: none;
  }
}

.action {
  padding: 7px 15px !important;
  // margin: 0 !important;
}

.pure-checkbox {
  label {
    &::before {
      border: 1px solid #000000;
    }

    &::after {
      border-color: #000000 !important;
    }
  }
}

.selected-list .c-list .c-token .c-remove svg {
  color: black !important;
  fill: white !important;
  border: 1px solid !important;
  height: 18px !important;
  width: 15px !important;
  font-weight: 200 !important;
  background-color: #db2828 !important;
  padding: 2px !important;
}

.badge-dark {
  background-color: white !important;
  color: black !important;
  font-size: 13px !important;
  border: 1px solid black !important;
  border-radius: 2px !important;
}

.panel {
  height: 50px;
  width: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  padding-top: 8px;
  cursor: pointer;
}

.panel-even {
  background-color: #1a6363;
}

.panel-odd {
  background-color: #434444;
}

.form-control-youtube {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-right: 10px;
}
