<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel">
      <h3 class="heading">{{ (isEdit) ? 'Edit' : 'Add'}} {{ param }}</h3>
      <div>
        <div class="row">
          <div class="col-lg-12" style="padding:0 15%">
            <form role="form" [formGroup]="form" (ngSubmit)="addOrEditFaq(form.value)">
              <fieldset class="form-group">
                <label>title</label>
                <p [ngClass]="errors.title === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.title }}</p>
                <input class="form-control" formControlName="title" placeholder="enter {{param}} title">
              </fieldset>
              <fieldset class="form-group">
                <label>description</label>
                <div class="col-lg-12 logo">
                  <p [ngClass]="errors.description === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.description }}</p>
                  <textarea placeholder="enter {{param}} description" style="width:100%" class="form-control" formControlName="description" rows="20" cols="80"></textarea>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label>video url</label>
                <div class="col-lg-12 logo">
                  <p [ngClass]="errors.video === '*' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.video }}</p>
                  <input type="url" class="form-control" formControlName="video" placeholder="enter {{param}} video url">
                </div>
              </fieldset>
              <fieldset class="form-group">
                <label>image</label>
                <div class="col-lg-12 logo">
                  <div class="col-lg-3" *ngIf="imagePath || (faq && faq.image)">
                    <img [src]="(imagePath) ? imagePath : faq.image" class="img-thumbnail">
                  </div>
                  <div class="col-lg-9">
                    <button type="button" (click)="clearImage()" class="ui negative button action" *ngIf="imagePath">
                      <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="ui button" (click)="fileInput.click()">Add new image</button>
                    <input class="form-control" type="file" class="hidden" #fileInput (change)="changeListener($event)">
                  </div>
                </div>
              </fieldset>
              <!-- <fieldset class="form-group">
                <label>video</label>
                <div class="col-lg-12 logo">
                  <div class="col-lg-3">
                    <video *ngIf="videoData || (faq && faq.video)" [src]="videoData || faq.video" class="img-thumbnail" controls="controls">
                      <source [src]="videoData" type="video/mp4">
                    </video>
                  </div>
                  <div class="col-lg-9">
                    <button type="button" (click)="clearVideo()" class="ui negative button action" *ngIf="videoData">
                      <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="ui button" (click)="fileInput2.click()">{{ (videoData) ? 'Change video' : 'Select Video' }}</button>
                    <input class="form-control" type="file" class="hidden" #fileInput2 (change)="changeVideoListener($event)">
                  </div>
                </div>
              </fieldset> -->
              <!-- <fieldset class="form-group">
                <label>language</label>
                <p [ngClass]="errors.language === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.language }}</p>
                <select class="ui primary button" formControlName="language">
                  <option *ngFor="let language of allLanguages" value="{{ language }}">{{ language }}</option>
                </select>
              </fieldset> -->
              <fieldset class="form-group">
                <label>language</label>
                <input type="text" list="allLanguages" formControlName="language"/>
                <p [ngClass]="errors.language === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.language }}</p>
                <datalist id="allLanguages">
                  <option *ngFor="let language of allLanguages" value="{{ language }}">{{ language }}</option>
                </datalist>
              </fieldset>
              <fieldset class="form-group">
                <label>category</label>
                <input type="text" list="categories" formControlName="category"/>
                <p [ngClass]="errors.category === '' ? 'alert-msg-success' : 'alert-msg-error'">{{ errors.category }}</p>
                <datalist id="categories">
                  <option *ngFor="let category of allCategories" value="{{ category }}">{{ category }}</option>
                </datalist>
              </fieldset>
              <button type="submit" class="ui primary button">save changes</button>
              <button type="button" (click)="close()" class="ui negative button">cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
