$topnav-background-color: #0e6363;

.header .navbar {
  background: $topnav-background-color !important;
  font-family: monospace;
}

.navbar-brand {
  font-size: 16px;
}

.iconSmall {
  padding-right: 3px;
}
