<!--
================= Layout Top Bar ======================
-->
<div class="pos-f-t fixed-top header">
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">

    <a class="navbar-brand" [routerLink]="['/dashboard']">
      <i class="fa fa-dashboard iconSmall"></i>Dashboard
    </a>

    <a class="navbar-brand" [routerLink]="['/country']">
      <i class="fa fa-dashboard iconSmall"></i>Countries
    </a>

    <a class="navbar-brand" [routerLink]="['/client-param']">
      <i class="fa fa-circle iconSmall"></i>User Parameters
    </a>


    <a class="navbar-brand" [routerLink]="['/games']">
      <i class="fa fa-play iconSmall"></i>Games
    </a>

    <a class="navbar-brand" [routerLink]="['/educational-videos']">
      <i class="fa fa-file-video-o iconSmall"></i>Videos
    </a>

    <a class="navbar-brand" [routerLink]="['/faq']">
      <i class="fa fa-question-circle iconSmall"></i>FAQ
    </a>

    <a class="navbar-brand" [routerLink]="['/blog']">
      <i class="fa fa-question-circle iconSmall"></i>Blog
    </a>

    <a class="navbar-brand" [routerLink]="['/story']">
      <i class="fa fa-question-circle iconSmall"></i>Story
    </a>

    <a class="navbar-brand" [routerLink]="['/feedback']">
      <i class="fa fa-th iconSmall"></i>Feedbacks
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <li class="nav-item dropdown" ngbDropdown>
          <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
            <a (click)="onLoggedout()">
              Log Out
              <b class="caret"></b>
            </a>
          </a>
        </li>
      </ul>
    </div>

  </nav>
</div>
