<app-alert [alerts]="alerts"></app-alert>
<app-loader *ngIf="isLoading"></app-loader>
<div class="row" *ngIf="!isContentLoading">
  <div *ngIf="allCategories && allCategories[0] && !isLoading" class="card-list-wrapper">
    <div *ngFor="let category of allCategories; let i = index" class="card-wrapper col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <div class="card">
        <div class="card-image" (click)="viewCategory(category)">
          <img src="{{category.image}}">
        </div>
        <ng-container>
          <div class="card-title">
            <span class="name">{{ category.name }}</span>
            <span class="version">{{ categoryTypes[category.type] }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<router-outlet (activate)='onNotify($event)'></router-outlet>
