@media only screen and (max-width: 1440px) and (min-width: 1200px) {
  .search-field {
    width: 450px !important;
  }
}

.clear {
  border-radius: 50%;
}

.no-games {
  border: none;
  text-align: center;
  color: #767676!important;
  margin-top: 50px;

  i {
    font-size: 50px;
    display: block;
  }

  p {
    font-size: 30px;
    display: block;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
  }
}

td {
  i {
    font-size: 20px;
    cursor: pointer;
  }

  img {
    width: 50px;
    height: 50px;
  }
  text-align: left;
}

a {
  text-decoration: none;
  color: white;
}
