<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel" *ngIf="allGameCategories">
      <div class="col-lg-12">
        <div class="row" *ngIf="allGameCategories && allGameCategories[0]">
          <div class="column" *ngFor="let gameCategory of allGameCategories; let i = index">
            <div class="card">
              <h3>{{ gameCategory.name }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <input class="form-control-youtube" [(ngModel)]="categoryName" placeholder="type category name" />
        <button style="margin:9px 0px -10px 19px" type="button" class="ui primary button" (click)="addNewCategory()" [disabled]="!categoryName">add new category</button>
      </div>
    </div>
  </div>
</div>
