<div class="login-page">
  <div class="row">
    <div class="col-md-4 push-md-4">
      <img src="assets/images/admin.png" width="150px" class="user-avatar" />
      <h1>Admin</h1>

      <span class="error">{{errors['server']}}</span>

      <form role="form" [formGroup]="form" (ngSubmit)="onLoggedIn(form.value)">
        <div class="form-content">
          <div class="form-group">
            <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email" placeholder="Email">
            <span class="error">{{errors['email']}}</span>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
            <span class="error">{{errors['password']}}</span>
          </div>
        </div>
        <button class="btn rounded-btn" type="submit" *ngIf="!isInProgress"> Log in </button>
        <div class="col-lg-12" *ngIf="isInProgress">
          <img src="/assets/images/loader.gif" class="loadingImage1"><br>
        </div>
      </form>
    </div>
  </div>
</div>
