<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel">
      <h3 class="heading">States of {{country.name}}</h3>
      <div class="col-lg-12">
        <input class="form-control-youtube" [(ngModel)]="state" placeholder="type state name" />
        <button style="margin:9px 0px -10px 19px" type="button" class="ui primary button" (click)="addNewState()" [disabled]="!state">add new state</button>
      </div>
      <div class="row" *ngIf="!isContentLoading" style="margin-top: 30px">
        <div *ngFor="let state of allState; let i = index" class="card-wrapper col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px">
          <div class="card" style="cursor:pointer">
            <div class="card-image" style="height: auto">
              <span *ngIf="edit_id != state.id">
                {{ state.name }}
              </span>
              <span *ngIf="edit_id == state.id">
                <input class="form-control-youtube" [(ngModel)]="edit_name" placeholder="type state name" />
              </span>
            </div>
            <span *ngIf="edit_id != state.id">
              <button class="btn-close" (click)="removeState(i)">X</button>
              <button class="btn-edit" (click)="editState(i)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn-plus" (click)="cities(i)"> cities </button>
            </span>
            <span *ngIf="edit_id == state.id">
              <button class="btn-close" (click)="closeEdit()">X</button>
              <button class="btn-edit" (click)="saveEdit(i)">
                <i class="fa fa-check"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
