<div class="col-lg-12" style="display:inline-flex">
  <div class="col-lg-4">
    <textarea rows="4" style="width:100%" [(ngModel)]="question" class="form-control-youtube" placeholder="write question"></textarea>
  </div>
  <div class="col-lg-8">
    <button style="margin:9px 0px -10px 19px" type="button" class="ui primary button" (click)="addCommonScreeningQuestion()" [disabled]="!question">add new question</button>
  </div>
</div>
<div class="row" style="margin:20px 0 0 20px">
  <div class="col-lg-12" *ngIf="allCommonQuestions.data[categoryId] && allCommonQuestions.data[categoryId].length">
    <table class="table">
      <thead>
        <tr>
          <th style="width:50%">Question</th>
          <th style="width:50%">action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let question of allCommonQuestions.data[categoryId]; let i = index">
          <tr>
            <td>
              <span *ngIf="question_edit_id != question.id" style="white-space: pre;">{{ question.question }}</span>
              <span *ngIf="question_edit_id == question.id">
                <textarea class="form-control" type="text" [(ngModel)]="question_edit" placeholder="question"></textarea>
              </span>
            </td>
            <td>
              <button *ngIf="question_edit_id != question.id" type="button" (click)="deleteQuestion(question.id, i)" class="ui negative button action">
                <i class="fa fa-times"></i>
              </button>
              <button *ngIf="question_edit_id != question.id" type="button" (click)="editQuestion(i)" class="ui secondary button action">
                <i class="fa fa-edit"></i>
              </button>
              <span *ngIf="question_edit_id == question.id">
                <button type="button" (click)="closeEditQuestion(i)" class="ui primary button action">X</button>
                <button type="button" (click)="saveEditQuestion(i)" class="ui primary button action"><i class="fa fa-check"></i></button>
              </span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
