<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel" *ngIf="game" style="padding-top:26px">
      <h3 class="heading">{{ game.name }}</h3>
      <p *ngIf="game.id === allGameIds.PICTURE_MATCHING || game.id === allGameIds.SHADOW_MATCHING" style="color:red;text-align:center"> please provide first picture as the picture to match</p>
      <p *ngIf="game.id === allGameIds.AUDITORY_DISCRIMINATION || game.id === allGameIds.MEMORY_AND_SEQUENCING" style="color:red;text-align:center"> please provide picture and their respective audio in sequence</p>
      <div style="text-align: center">
        <app-alert [alerts]="alerts"></app-alert>
        <div *ngIf="game.id === allGameIds.IDENTIFICATION || game.id === allGameIds.PICTURE_MATCHING || game.id === allGameIds.SHADOW_MATCHING || game.id === allGameIds.WHAT_DO_I_DO || game.id === allGameIds.MEMORY_AND_SEQUENCING || game.id === allGameIds.MEMORY || game.id === allGameIds.AUDITORY_DISCRIMINATION || game.id === allGameIds.WHAT_DO_YOU_USE_FOR || game.id === allGameIds.GUESS_ME || game.id === allGameIds.ODD_ONE_OUT || game.id === allGameIds.VOCABULARY">
          <h4 class="heading">All game data</h4>
          <div *ngFor="let gameData of game.gameData; let i = index">
            <div style="display:inline-flex; margin-top: 10px">
              <p style="max-width: 20%">Category: {{ gameData.gameCategory.name }} <br> Level: {{ gameData.level }}<br/>
                {{ (gameData.question) ? 'Question - ' + gameData.question : '' }}<br/>{{ (gameData.instructions) ? 'Instructions - ' + gameData.instructions : '' }}
              </p>
              <div class="game-data-picture" *ngFor="let gamePicture of gameData.gamePictures; let i = index"
                [style.background]="(gamePicture.isCorrect || gamePicture.isMainPicture) ? 'black' : ''"
                [style.padding]="(gamePicture.isCorrect || gamePicture.isMainPicture) ? '20px' : '0'">
                <img src="{{ PUBLIC_URL + gamePicture.picture }}" style="width:100%">
                <button *ngIf="gamePicture.isCorrect || gamePicture.isMainPicture" class="btn-success"><i class="fa fa-check"></i></button>
              </div>
              <audio controls *ngIf="gameData.audio">
                <source src="{{ PUBLIC_URL + gameData.audio }}"/>
              </audio>
              <span *ngIf="game.id === allGameIds.MEMORY_AND_SEQUENCING || game.id === allGameIds.MEMORY || game.id === allGameIds.AUDITORY_DISCRIMINATION">
                <span *ngFor="let audio of gameData.audios; let i = index">
                  <audio controls style="width:240px">
                    <source src="{{ PUBLIC_URL + audio }}"/>
                  </audio>
                </span>
              </span>
              <button style="margin-left:20px" class="btn" *ngIf="game.id !== allGameIds.VOCABULARY" (click)="removeGameData(gameData.id, i)">X</button>
              <button style="margin-left:20px" class="btn" *ngIf="game.id === allGameIds.VOCABULARY" (click)="removeVocData(gameData.id, i)">X</button>
            </div>
          </div>
          <br>
          <hr style="border:5px solid grey">

          <div *ngIf="images.length || audio || audios.length" style="display:inline-flex">
            <div class="game-data-picture" *ngFor="let image of images; let i = index"
              [style.background]="((game.id !== allGameIds.WHAT_DO_YOU_USE_FOR && i == correctImage) || correctImages.includes(i.toString())) ? 'black' : ''"
              [style.padding]="((game.id !== allGameIds.WHAT_DO_YOU_USE_FOR && i == correctImage) || correctImages.includes(i.toString())) ? '20px' : '0'">
              <img src="{{ image }}" style="width:100%"/>
              <button *ngIf="(game.id !== allGameIds.WHAT_DO_YOU_USE_FOR && game.id !== allGameIds.AUDITORY_DISCRIMINATION && game.id !== allGameIds.MEMORY_AND_SEQUENCING && game.id !== allGameIds.MEMORY && i == correctImage)  || correctImages.includes(i.toString())" class="btn-success"><i class="fa fa-check"></i></button>
              <button class="btn" (click)="removeImage(i)">X</button>
            </div>
            <audio controls *ngIf="audio && game.id !== allGameIds.MEMORY_AND_SEQUENCING && game.id !== allGameIds.MEMORY">
              <source src="{{ audio }}"/>
            </audio>
            <span *ngIf="game.id === allGameIds.MEMORY_AND_SEQUENCING || game.id === allGameIds.MEMORY || game.id === allGameIds.AUDITORY_DISCRIMINATION">
              <span *ngFor="let audio of audios; let i = index">
                <audio controls style="width:240px">
                  <source src="{{ audio }}"/>
                </audio>
                <button class="btn-audio-delete" (click)="removeAudio(i)">X</button>
              </span>
            </span>
          </div>
          <br/>
          <input placeholder="type question here" [(ngModel)]="question" class="form-control-youtube" *ngIf="game.id === allGameIds.WHAT_DO_I_DO || game.id === allGameIds.WHAT_DO_YOU_USE_FOR">
          <input placeholder="type instructions here" [(ngModel)]="question" class="form-control-youtube" *ngIf="game.id === allGameIds.IDENTIFICATION || game.id === allGameIds.VOCABULARY">
          <button type="button" class="ui button" (click)="fileInput.click()" *ngIf="game.id !== allGameIds.VOCABULARY || images.length === 0">Add Image</button>
          <button *ngIf="game.id === allGameIds.MEMORY_AND_SEQUENCING || game.id === allGameIds.MEMORY || game.id === allGameIds.GUESS_ME || game.id === allGameIds.IDENTIFICATION || game.id === allGameIds.AUDITORY_DISCRIMINATION || game.id === allGameIds.VOCABULARY" type="button" class="ui button" (click)="fileInput2.click()">{{ (audio) ? 'Add new Audio' : 'Select Audio'}}</button>
          <span *ngIf="game.id !== allGameIds.VOCABULARY">at</span>
          <select class="ui primary button" [(ngModel)]="level" *ngIf="game.id !== allGameIds.VOCABULARY">
            <option *ngFor="let level of allLevels" value="{{ level }}">Level - {{ level }}</option>
          </select>
          <br *ngIf="game.id !== allGameIds.VOCABULARY">
          category - <select class="ui primary button" [(ngModel)]="category" style="margin-top: 10px">
            <option *ngFor="let category of allGameCategories" value="{{ category.id }}">{{ category.name }}</option>
          </select>
          <span *ngIf="game.id !== allGameIds.AUDITORY_DISCRIMINATION && game.id !== allGameIds.VOCABULARY">
            {{ (game.id === allGameIds.IDENTIFICATION || game.id === allGameIds.WHAT_DO_I_DO || game.id === allGameIds.WHAT_DO_YOU_USE_FOR || game.id === allGameIds.MEMORY_AND_SEQUENCING || game.id === allGameIds.MEMORY || game.id === allGameIds.GUESS_ME) ? 'correct image -' : (game.id === allGameIds.ODD_ONE_OUT) ? 'odd image is' : 'should match with image -' }}
          </span>
          <select class="ui primary button" [(ngModel)]="correctImage" *ngIf="game.id !== allGameIds.WHAT_DO_YOU_USE_FOR && game.id !== allGameIds.MEMORY_AND_SEQUENCING && game.id !== allGameIds.MEMORY && game.id !== allGameIds.AUDITORY_DISCRIMINATION && game.id !== allGameIds.VOCABULARY">
            <option *ngFor="let image of images; let i = index" value="{{ i }}">image - {{ i + 1 }}</option>
          </select>
          <select multiple class="ui primary button" [(ngModel)]="correctImages" *ngIf="(game.id === allGameIds.WHAT_DO_YOU_USE_FOR || game.id === allGameIds.MEMORY_AND_SEQUENCING || game.id === allGameIds.MEMORY) && game.id !== allGameIds.AUDITORY_DISCRIMINATION && game.id !== allGameIds.VOCABULARY">
            <option *ngFor="let image of images; let i = index" value="{{ i }}">image - {{ i + 1 }}</option>
          </select>
          <input class="form-control" type="file" class="hidden" #fileInput (change)="addImage($event)">
          <input class="form-control" type="file" class="hidden" #fileInput2 (change)="addAudio($event, (game.id === allGameIds.MEMORY || game.id === allGameIds.MEMORY_AND_SEQUENCING || game.id === allGameIds.AUDITORY_DISCRIMINATION))">
          <button [disabled]="!images.length || !category || !level"
            type="button" class="ui button primary" (click)="addDataForIdentificationGame()">Add Data</button>
        </div>

      </div>
    </div>
  </div>
</div>
