.game-data-picture {
  position: relative;
  width: 100%;
  width: 200px;
  height: 138px;
}

.game-data-picture img {
  width: 100% !important;
  height: 100% !important;
}

.game-data-picture .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.game-data-picture .btn-success {
  position: absolute;
  top: 88%;
  left: 92%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.game-data-picture .btn:hover {
  background-color: black;
}
