<app-alert [alerts]="alerts"></app-alert>
<h3 class="heading">Games</h3>
<button *ngIf="allGameCategories" class="ui primary button" (click)="gameCategories()">categories</button>
<div class="row">
  <div class="row" *ngIf="allGames && allGames[0]">
    <div class="column" *ngFor="let game of allGames; let i = index">
      <div class="card" (click)="viewCategory(game)">
        <h3>{{ game.name }}</h3>
      </div>
    </div>
  </div>
</div>
