<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn" (click)="close()">&times;</button>
    </div>
    <div class="timeline-panel">
      <h3 class="heading">Cities of {{state.name}}</h3>
      <div class="col-lg-12">
        <input class="form-control-youtube" [(ngModel)]="city" placeholder="type city name" />
        <button style="margin:9px 0px -10px 19px" type="button" class="ui primary button" (click)="addNewCity()" [disabled]="!city">add new city</button>
      </div>
      <div class="row" style="margin-top: 30px">
        <div *ngFor="let city of allCity; let i = index" class="card-wrapper col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px">
          <div class="card" style="cursor:pointer">
            <div class="card-image" style="height: auto">
              <span *ngIf="edit_id != city.id">
                {{ city.name }}
              </span>
              <span *ngIf="edit_id == city.id">
                <input class="form-control-youtube" [(ngModel)]="edit_name" placeholder="type city name" />
              </span>
            </div>
            <span *ngIf="edit_id != city.id">
              <button class="btn-close" (click)="removeCity(i)">X</button>
              <button class="btn-edit" (click)="editCity(i)">
                <i class="fa fa-edit"></i>
              </button>
            </span>
            <span *ngIf="edit_id == city.id">
              <button class="btn-close" (click)="closeEdit()">X</button>
              <button class="btn-edit" (click)="saveEdit(i)">
                <i class="fa fa-check"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
