.btn-close {
  position: absolute;
  top: 26%;
  left: 96%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn-edit {
  position: absolute;
  top: 26%;
  left: 88%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
